{{ 'contact-banner.css' | asset_url | stylesheet_tag }}

<section class="contact-banner">
  <img src="https://cdn.shopify.com/s/files/1/0730/5868/1130/files/contact-banner.png?v=1689248245" alt="" srcset="">
</section>
{% schema %}
{
  "name": "Contact Banner",
  "settings": [],
"presets": [
  {
    "name": "Contact Banner"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
