{{ 'dashboard.css' | asset_url | stylesheet_tag }}

<section class="dashboard dashboard_family">
  <div class="page-width">
    <div class="welcome-title">
      <h4>
        Welcome back <span>{{ customer.first_name }}</span>
      </h4>
    </div>
    <div class="dash_tab_block">
      <div class="tab_dash">
        <div class="left_sidebar tab-transparent">
          {% render 'left-sidebar' section:section %}
        </div>
        <div class="dashbord_box dash_over_info">
          <div class="family-graph-block">
            <div class="family-block scroll-trigger animate--slide-in" style="--animation-order: 1;">
              <div class="family-title">
                <h5>
                  <label class="scroll-trigger animate--slide-in">My family star</label>
                </h5>
                <div class="family-star-description scroll-trigger animate--slide-in" style="--animation-order: 2;">
                  <p>
                    The Course Introduction section is where you entered the initial questionnaires to define your initial
                    Family Star.
                    <br>
                    <br>
                    The chart here shows your results from the initial questionnaires.
                  </p>
                </div>
                <div class="click-info scroll-trigger animate--slide-in" style="--animation-order: 3;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                    <path d="M4 9.5C4 10.6162 4.21986 11.7215 4.64702 12.7528C5.07419 13.7841 5.70029 14.7211 6.48959 15.5104C7.27889 16.2997 8.21592 16.9258 9.24719 17.353C10.2785 17.7801 11.3838 18 12.5 18C13.6162 18 14.7215 17.7801 15.7528 17.353C16.7841 16.9258 17.7211 16.2997 18.5104 15.5104C19.2997 14.7211 19.9258 13.7841 20.353 12.7528C20.7801 11.7215 21 10.6162 21 9.5C21 8.38376 20.7801 7.27846 20.353 6.24719C19.9258 5.21592 19.2997 4.27889 18.5104 3.48959C17.7211 2.70029 16.7841 2.07419 15.7528 1.64702C14.7215 1.21986 13.6162 1 12.5 1C11.3838 1 10.2785 1.21986 9.24719 1.64702C8.21592 2.07419 7.27889 2.70029 6.48959 3.48959C5.70029 4.27889 5.07419 5.21592 4.64702 6.24719C4.21986 7.27846 4 8.38376 4 9.5Z" fill="#C9D9D3"/>
                    <path d="M1 9.5C1 10.6162 1.21986 11.7215 1.64702 12.7528C2.07419 13.7841 2.70029 14.7211 3.48959 15.5104C4.27889 16.2997 5.21592 16.9258 6.24719 17.353C7.27846 17.7801 8.38376 18 9.5 18C10.6162 18 11.7215 17.7801 12.7528 17.353C13.7841 16.9258 14.7211 16.2997 15.5104 15.5104C16.2997 14.7211 16.9258 13.7841 17.353 12.7528C17.7801 11.7215 18 10.6162 18 9.5C18 8.38376 17.7801 7.27846 17.353 6.24719C16.9258 5.21592 16.2997 4.27889 15.5104 3.48959C14.7211 2.70029 13.7841 2.07419 12.7528 1.64702C11.7215 1.21986 10.6162 1 9.5 1C8.38376 1 7.27846 1.21986 6.24719 1.64702C5.21592 2.07419 4.27889 2.70029 3.48959 3.48959C2.70029 4.27889 2.07419 5.21592 1.64702 6.24719C1.21986 7.27846 1 8.38376 1 9.5Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11 15H9.66667C9.43092 15 9.20483 14.8946 9.03813 14.7071C8.87143 14.5196 8.77778 14.2652 8.77778 14V7.5C8.77778 7.36739 8.73095 7.24021 8.6476 7.14645C8.56425 7.05268 8.45121 7 8.33333 7H7" stroke="#01333E" stroke-width="0.888889" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.22222 5.47597C8.16329 5.47597 8.10676 5.4509 8.06509 5.40627C8.02341 5.36163 8 5.3011 8 5.23798C8 5.17487 8.02341 5.11433 8.06509 5.0697C8.10676 5.02507 8.16329 5 8.22222 5" stroke="#01333E" stroke-width="0.888889"/>
                    <path d="M8.54688 5.47597C8.60581 5.47597 8.66234 5.4509 8.70401 5.40627C8.74568 5.36163 8.7691 5.3011 8.7691 5.23798C8.7691 5.17487 8.74568 5.11433 8.70401 5.0697C8.66234 5.02507 8.60581 5 8.54688 5" stroke="#01333E" stroke-width="0.888889"/>
                  </svg>
                  <p>Click on the circles for further information.</p>
                </div>
              </div>
              <div class="course-btn scroll-trigger animate--slide-in" style="--animation-order: 4;">
                <a class="button button--secondary" href="/pages/organisations"
                  >Go to family star
                  <svg
                    aria-hidden="true"
                    class="icon icon-arrow"
                    focusable="false"
                    viewBox="0 0 21 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="graph-block scroll-trigger animate--slide-in" style="--animation-order: 2;">
              <div class="graph--img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0730/5868/1130/files/Right_Content_2.png?v=1691820437"
                  alt=""
                  srcset=""
                >
              </div>
              <div class="family-key">
                <h6>Key</h6>
                <div class="key-point">
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      <path d="M3.375 9.81055C3.375 10.9022 3.59001 11.9831 4.00775 12.9916C4.42549 14.0001 5.03779 14.9165 5.80967 15.6884C6.58156 16.4603 7.49792 17.0726 8.50644 17.4903C9.51496 17.908 10.5959 18.123 11.6875 18.123C12.7791 18.123 13.86 17.908 14.8686 17.4903C15.8771 17.0726 16.7934 16.4603 17.5653 15.6884C18.3372 14.9165 18.9495 14.0001 19.3672 12.9916C19.785 11.9831 20 10.9022 20 9.81055C20 8.71893 19.785 7.63801 19.3672 6.62949C18.9495 5.62097 18.3372 4.70461 17.5653 3.93272C16.7934 3.16083 15.8771 2.54854 14.8686 2.1308C13.86 1.71306 12.7791 1.49805 11.6875 1.49805C10.5959 1.49805 9.51496 1.71306 8.50644 2.1308C7.49792 2.54854 6.58156 3.16083 5.80967 3.93272C5.03779 4.70461 4.42549 5.62097 4.00775 6.62949C3.59001 7.63801 3.375 8.71893 3.375 9.81055Z" fill="#C9D9D3"/>
                      <path d="M1 9.81055C1 10.9022 1.21501 11.9831 1.63275 12.9916C2.05049 14.0001 2.66279 14.9165 3.43467 15.6884C4.20656 16.4603 5.12292 17.0726 6.13144 17.4903C7.13996 17.908 8.22089 18.123 9.3125 18.123C10.4041 18.123 11.485 17.908 12.4936 17.4903C13.5021 17.0726 14.4184 16.4603 15.1903 15.6884C15.9622 14.9165 16.5745 14.0001 16.9922 12.9916C17.41 11.9831 17.625 10.9022 17.625 9.81055C17.625 8.71893 17.41 7.63801 16.9922 6.62949C16.5745 5.62097 15.9622 4.70461 15.1903 3.93272C14.4184 3.16083 13.5021 2.54854 12.4936 2.1308C11.485 1.71306 10.4041 1.49805 9.3125 1.49805C8.22089 1.49805 7.13996 1.71306 6.13144 2.1308C5.12292 2.54854 4.20656 3.16083 3.43467 3.93272C2.66279 4.70461 2.05049 5.62097 1.63275 6.62949C1.21501 7.63801 1 8.71893 1 9.81055Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7.12891 11.125C7.33917 11.3891 7.65398 11.6102 8.03943 11.7643C8.42488 11.9185 8.86638 12 9.31641 12C9.76643 12 10.2079 11.9185 10.5934 11.7643C10.9788 11.6102 11.2936 11.3891 11.5039 11.125" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5.38073 7.77092C5.77751 7.56566 6.21872 7.46121 6.66541 7.4668C7.11211 7.47239 7.55056 7.58784 7.94208 7.80296" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.6307 7.77092C11.0275 7.56566 11.4687 7.46121 11.9154 7.4668C12.3621 7.47239 12.8006 7.58784 13.1921 7.80296" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span> Low scores, not desirable </span>
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      <path d="M3.375 9.43555C3.375 10.5272 3.59001 11.6081 4.00775 12.6166C4.42549 13.6251 5.03779 14.5415 5.80967 15.3134C6.58156 16.0853 7.49792 16.6976 8.50644 17.1153C9.51496 17.533 10.5959 17.748 11.6875 17.748C12.7791 17.748 13.86 17.533 14.8686 17.1153C15.8771 16.6976 16.7934 16.0853 17.5653 15.3134C18.3372 14.5415 18.9495 13.6251 19.3672 12.6166C19.785 11.6081 20 10.5272 20 9.43555C20 8.34393 19.785 7.26301 19.3672 6.25449C18.9495 5.24597 18.3372 4.32961 17.5653 3.55772C16.7934 2.78583 15.8771 2.17354 14.8686 1.7558C13.86 1.33806 12.7791 1.12305 11.6875 1.12305C10.5959 1.12305 9.51496 1.33806 8.50644 1.7558C7.49792 2.17354 6.58156 2.78583 5.80967 3.55772C5.03779 4.32961 4.42549 5.24597 4.00775 6.25449C3.59001 7.26301 3.375 8.34393 3.375 9.43555Z" fill="#C9D9D3"/>
                      <path d="M1 9.43555C1 10.5272 1.21501 11.6081 1.63275 12.6166C2.05049 13.6251 2.66279 14.5415 3.43467 15.3134C4.20656 16.0853 5.12292 16.6976 6.13144 17.1153C7.13996 17.533 8.22089 17.748 9.3125 17.748C10.4041 17.748 11.485 17.533 12.4936 17.1153C13.5021 16.6976 14.4184 16.0853 15.1903 15.3134C15.9622 14.5415 16.5745 13.6251 16.9922 12.6166C17.41 11.6081 17.625 10.5272 17.625 9.43555C17.625 8.34393 17.41 7.26301 16.9922 6.25449C16.5745 5.24597 15.9622 4.32961 15.1903 3.55772C14.4184 2.78583 13.5021 2.17354 12.4936 1.7558C11.485 1.33806 10.4041 1.12305 9.3125 1.12305C8.22089 1.12305 7.13996 1.33806 6.13144 1.7558C5.12292 2.17354 4.20656 2.78583 3.43467 3.55772C2.66279 4.32961 2.05049 5.24597 1.63275 6.25449C1.21501 7.26301 1 8.34393 1 9.43555Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.5039 11.625C11.2936 11.3609 10.9788 11.1398 10.5934 10.9857C10.2079 10.8315 9.76643 10.75 9.31641 10.75C8.86638 10.75 8.42488 10.8315 8.03943 10.9857C7.65398 11.1398 7.33917 11.3609 7.12891 11.625" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5.38073 7.39592C5.77751 7.19066 6.21872 7.08621 6.66541 7.0918C7.11211 7.09739 7.55056 7.21284 7.94208 7.42796" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.6307 7.39592C11.0275 7.19066 11.4687 7.08621 11.9154 7.0918C12.3621 7.09739 12.8006 7.21284 13.1921 7.42796" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span> High scores, desirable </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Dashboard Family star",
  "settings": [
  ],
  "presets": [
    {
      "name": "Dashboard Family star"
    }
  ]
}
{% endschema %}
{% stylesheet %} {% endstylesheet %}
{% javascript %} {% endjavascript %}
