{{ 'dashboard.css' | asset_url | stylesheet_tag }}
{{ 'dashboard-course.css' | asset_url | stylesheet_tag }}

<section class="dashboard_course dashboard dashboard_family">
  <div class="page-width">
    <div class="welcome-title">
      <h4>Welcome back <span>Dashboard Family Star</span></h4>
    </div>
    <div class="dash_tab_block">
      <div class="tab_dash">
        <div class="left_sidebar tab-transparent">
          {% render 'left-sidebar' %}
        </div>
        <div class="dashbord_box dash_over_info">
          <div class="family-graph-block">
            <div class="course-progress">
              <div class="course-title">
                <h5 class="title">Course progress</h5>
              </div>
              <div class="course-grid">
                <div class="white-box">
                  <div class="icon-text">
                    {% render 'icon-heart' %}
                    <span>Love</span>
                  </div>
                  <div class="progress-grid">
                    <div class="progress_bar_item">
                      <div class="item_button">
                        <a href="#" class="button button--secondary">Play</a>
                      </div>
                      <div class="meter item-1">
                        <span data-progress="00" style="width: 70%"></span>
                      </div>
                      <div class="progress_bar_count item-1">
                        <div class="bar_count">4/7</div>
                      </div>
                      <div class="meter item-2">
                        <span data-progress="00" style="width: 0"></span>
                      </div>
                      <div class="progress_bar_count item-2">
                        <div class="bar_count">4/7</div>
                      </div>
                    </div>
                    <div class="progress_bar_item">
                      <div class="item_button">
                        <a href="#" class="button button--secondary">Play</a>
                      </div>
                      <div class="meter item-1">
                        <span data-progress="00" style="width: 70%"></span>
                      </div>
                      <div class="progress_bar_count item-1">
                        <div class="bar_count">4/7</div>
                      </div>
                      <div class="meter item-2">
                        <span data-progress="00" style="width: 0"></span>
                      </div>
                      <div class="progress_bar_count item-2">
                        <div class="bar_count">4/7</div>
                      </div>
                    </div>
                    <div class="progress_bar_item">
                      <div class="item_button">
                        <a href="#" class="button button--secondary">Play</a>
                      </div>
                      <div class="meter item-1">
                        <span data-progress="00" style="width: 70%"></span>
                      </div>
                      <div class="progress_bar_count item-1">
                        <div class="bar_count">4/7</div>
                      </div>
                      <div class="meter item-2">
                        <span data-progress="00" style="width: 0"></span>
                      </div>
                      <div class="progress_bar_count item-2">
                        <div class="bar_count">4/7</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="white-box top-border">
                  <div class="icon-text">
                    {% render 'icon-hand' %}
                    <span>Love</span>
                  </div>
                  <div class="progress-grid">
                    <div class="progress_bar_item">
                      <div class="item_button">
                        <a href="#" class="button button--secondary">Play</a>
                      </div>
                      <div class="meter item-1">
                        <span data-progress="00" style="width: 70%"></span>
                      </div>
                      <div class="progress_bar_count item-1">
                        <div class="bar_count">4/7</div>
                      </div>
                      <div class="meter item-2">
                        <span data-progress="00" style="width: 0"></span>
                      </div>
                      <div class="progress_bar_count item-2">
                        <div class="bar_count">4/7</div>
                      </div>
                    </div>
                    <div class="progress_bar_item">
                      <div class="item_button">
                        <a href="#" class="button button--secondary">Play</a>
                      </div>
                      <div class="meter item-1">
                        <span data-progress="00" style="width: 70%"></span>
                      </div>
                      <div class="progress_bar_count item-1">
                        <div class="bar_count">4/7</div>
                      </div>
                      <div class="meter item-2">
                        <span data-progress="00" style="width: 0"></span>
                      </div>
                      <div class="progress_bar_count item-2">
                        <div class="bar_count">4/7</div>
                      </div>
                    </div>
                    <div class="progress_bar_item">
                      <div class="item_button">
                        <a href="#" class="button button--secondary">Play</a>
                      </div>
                      <div class="meter item-1">
                        <span data-progress="00" style="width: 70%"></span>
                      </div>
                      <div class="progress_bar_count item-1">
                        <div class="bar_count">4/7</div>
                      </div>
                      <div class="meter item-2">
                        <span data-progress="00" style="width: 0"></span>
                      </div>
                      <div class="progress_bar_count item-2">
                        <div class="bar_count">4/7</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="course_bottom">
                <div class="text">
                  <span>2 out of 9</span><br>
                  sessions completed
                </div>
              </div>
            </div>
            <div class="course_content">
              <div class="content_main">
                <div class="content_top">
                  <div class="content_item box-1">
                    <div class="title">Your parenting style is <span>name</span></div>
                  </div>
                  <div class="content_item box-2">
                    <div class="content_box">
                      <div class="icon">
                        {% render 'icon-marker' %}
                      </div>
                      <div class="text">My goal is to better understand my child and their feelings</div>
                    </div>
                  </div>
                </div>
                <div class="content_bottom">
                  <div class="content_item">
                    <div class="content_slider">
                      <div class="carousel carousel-nav">
                        {% for i in (1..10) %}
                          <div class="carousel-cell">
                            <div class="internal_box_upper">
                              <div class="internal_box">
                                <div class="internal_box_main">
                                  <div class="icon">
                                    {% render 'icon-internal-home' %}
                                  </div>
                                  <div class="internal_button">
                                    <a href="#" class="button button--secondary">Play Pt. 1 </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="bottom_line">
                              {% render 'icon-true-round' %}
                              <div class="line"></div>
                            </div>
                          </div>
                        {% endfor%}
                        </div>
                      </div>
                      <div class="carousel carousel-main">
                        {% for i in (1..10) %}
                          <div class="carousel-cell">
                            <div class="content_course_main_box">
                              <div class="content_text">
                                <div class="top_text">
                                  <div class="text"><b>Play</b> Part 2</div>
                                  <div class="text">Title goes here</div>
                                </div>
                                <div class="bottom_text">10-minute read</div>
                                <div class="internal_button">
                                  <a href="#" class="button button--secondary">Play Pt. 1 </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content_footer">
                  <div class="content_footer_main">
                    <div class="content_footer_box item-1">
                      <div class="content_box-1">
                        <div class="icon">
                          {% render 'icon-true-round'%}
                        </div>
                        <div class="text">Last time you learnt</div>
                      </div>
                      <div class="content_box-2">
                        <div class="text_content">
                          <div class="title"> <span>Praise </span><b>Part 2 </b>- Introduction</div>
                          <div class="text">How to give praise for the right things</div>
                        </div>
                      </div>
                    </div>
                    <div class="content_footer_box item-2">
                      <div class="content_box-1">
                        <div class="icon">
                          {% render 'icon-true-round'%}
                        </div>
                        <div class="text">Last time you learnt</div>
                      </div>
                      <div class="content_box-2">
                        <div class="text_content">
                          <div class="title"> <span>Praise </span><b>Part 2</b> - Introduction</div>
                          <div class="text">How to give praise for the right things</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script></script>
{% schema %}
{
  "name": "Dashboard Course",
  "settings": [],
  "presets": [
    {
      "name": "Dashboard Course"
    }
  ]
}
{% endschema %}
{% stylesheet %} {% endstylesheet %}
{% javascript %}
  var elemele = document.querySelector('.carousel-main');
  var flkty = new Flickity(elemele, {
    // options
    cellAlign: 'left',
    contain: true,
    pageDots: false,
  });

  var elem = document.querySelector('.carousel-nav');
  var flkty = new Flickity(elem, {
    // options
    cellAlign: 'left',
    asNavFor: '.carousel-main',
    contain: true,
    pageDots: false,
    prevNextButtons: false,
  });
{% endjavascript %}
