{{ 'faq-block.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
{{ 'section-accordion.css' | asset_url | stylesheet_tag }}

<section class="faq-block accordion_section">
  <div class="page-width">
    <div class="faq-grid-block">
      <div class="tab-faq">
        <p class="faq-jump">Jump to:</p>
        <ul>
          <li>Course</li>
          <li>Safety and confidentiality</li>
          <li>Technical</li>
        </ul>
      </div>
      <div class="faq-div">
        <div class="course px-128">
          <h3>Course</h3>
          <div class="course-accordion">
            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    What if I don’t have particular concerns about my child, but would like to be a better parent?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Will the course help my child do better at school?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Will the course help my child who is often difficult?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Will the course help my child who is a worrier and lacking self-confidence?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Will the course help my child who can’t concentrate, is overactive and is impulsive?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Will the course help my child who is on the autistic spectrum?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">What age child is this course suitable for?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Will it work with my teenager?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Would it be a good idea for my partner to do it as well?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Could it improve my relationship with my partner?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">How do I know this will work?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    Because it consists of ingredients proven to work in trials with over 10,000 parents -this is their
                    lived experience, that compared with parents who didn’t take a course, their children are happier,
                    pay better, and make better friendships. And the family home is calmer. But this wouldn’t be enough
                    for us, if we hadn’t seen with our own eyes how family life can be transformed. However, to bring
                    about lasting changes will require some input from yourself to practise the new methods with your
                    child.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    How is it different from other online parenting courses?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">What are the principles this course is based on?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Is there an introduction to the course?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">How long does the course take?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    How long does each session or part of the course take?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Can I stop before the session is completed?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Does it involve practising things at home?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Are there printable materials I can download?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Do I get a summary of important advice or strategies?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Can I track our progress?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Can my partner/carer do it too?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    How long will I have access to the site after registering?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>
          </div>
        </div>

        <div class="course px-128">
          <h3>Safety and confidentiality</h3>
          <div class="course-accordion">
            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">How safe and confidential is my information?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    Is the site checked for inappropriate or worrying content posted by users?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Do I have to do the course in a fixed order?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">I am struggling with my child – who can I contact?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    I am struggling and not in a good place – who can I contact?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>
          </div>
        </div>

        <div class="course px-128">
          <h3>Technical</h3>
          <div class="course-accordion">
            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">
                    I'm having difficulties registering or at log in. Who should I contact?
                  </h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Can I do the course on a mobile or tablet or PC?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Can I get a record of my home practice?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Is it available in languages other than English?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>

            <div class="accordion">
              <details class="custom_bg_color">
                <summary>
                  <svg
                    class="icon icon-accordion"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  ></svg>
                  <h5 class="accordion__title inline-richtext">Do I have to be a good reader to take course?</h5>
                  <div class="accordion_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M22 12H2" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </summary>
                <div class="accordion__content rte" role="region">
                  <p>
                    It is designed for children aged 3 to 9. Young infants need a slightly different approach, and with
                    teenagers the same ideas apply but more negotiation is necessary.
                  </p>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "Faq Block",
"settings": [],
"presets":[
{
"name": "Faq Block"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
