{{ 'get-in-touch.css' | asset_url | stylesheet_tag }}

<section class="get-in-touch">
  <div class=" page-width">
    <div class="get-info">
      <div class="get-icon">
        <img src="https://cdn.shopify.com/s/files/1/0730/5868/1130/files/get-icon.png?v=1689232763" alt="" srcset="">
      </div>
      <div class="get-details">
        <h2>Want to know more about how we could work with your organisation?</h2>
        <p>We’d be happy to talk to you.</p>
        <a class="button button--secondary" href="https://parenting-matters.myshopify.com/pages/contact"
          >Get in touch
          <svg
            aria-hidden="true"
            class="icon icon-arrow"
            focusable="false"
            viewBox="0 0 21 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Get In Touch",
  "settings": [],
  "presets": [
  {
    "name": "Get In Touch"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
