@media screen and (max-width: 1199px) {
  .article-card__info .circle-divider{
    width:auto;
  }
}

@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading {
  margin-bottom: 12px;
}

.article-card__info {
  margin-bottom: 16px;
}
.featured-blog-title {
  margin-bottom: 48px;
}
.article-card__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  position: relative;
  z-index: 9;
}


.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.article-card__info .circle-divider {
  border-radius: 25px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.14px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 400;
}
.blog-main-cover { position: relative; }
.blog-bg-design {
  position: absolute;
  right: -29%;
  top: -35px;
  z-index: -1;
  pointer-events: none;
}
.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
  margin-top: 1.2rem;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}



.featured-blog-title h2 {
  margin-bottom: 0;
  max-width: 380px;
}

.main-template--article .featured-blog-title h2{
  font-size: 43px;
    max-width: unset;
    line-height: 120%;
    letter-spacing: 0.43px;
}

.template--ddp-details .featured-blog-title h2{
  font-size: 43px;
  max-width: unset;
}

@media screen and (max-width: 1099px){
  .featured-blog-title h2{
    font-size:40px;
  }
  .main-template--article .featured-blog-title h2{
    font-size:30px;
  }
  .article-card .card__heading{
    font-size: 20px
  }
  .article-card__excerpt{
    font-size: 14px;
  }
  .blog-bg-design svg{
    width: 400px;
  }
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}

@media screen and (min-width: 750px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}




@media screen and (max-width: 749px) {
  .blog-bg-design {
    display: none;
  }
  .featured-blog-title h2 {
    margin-bottom: 0;
    max-width: 230px;
  }
  slider-component .blog__posts {
    margin: 0;
}
slider-component {
  padding-left: 2rem;
  padding-right: 2rem;
}
.blog-articles .article-card .card__information, .blog__posts .article-card .card__information {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.blog__posts.articles-wrapper {
  row-gap: 18px;
}
.blog-main-button {
  margin-top: 18px;
}
  .article-card__info .tag{
    font-size: 12px;
  }
  .article-card__info .circle-divider{
        width: auto;
        font-size: 12px;
  }
  .article-card__excerpt{
    font-size: 12px;
  }
  .featured-blog-title h2{
    font-size:30px;
  }
}

