.dashboard {
    padding: 48px 0;
}
.dashboard span{
    color: #C72457;
}
.dashbord_box {
    width: 85%;
}
.tab_dash{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.left_sidebar{
    width: 13%;
    position: relative;
}
.welcome-title{
    margin-bottom: 24px;
}
.left_sidebar{
    width: 13%;
}
.left_sidebar ul{
    padding: 32px 16px;
    list-style: none;
    text-decoration: none;    margin: 0;
    border-radius: 20px;
background: #FFF0C9;
}
.left_sidebar ul li a{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 5px 9px;
    display: inline-block;
    color: #01333E;
    border-radius: 25px;
}
.tab_back_img{
    position: absolute;
    top: 5px;
    z-index: 0;
}
.left_sidebar ul li a.active{
    border: 1px solid #01333E;

}
.left_sidebar ul li{
    margin-bottom: 24px;
    position: relative;
    z-index: 9;
}
.left_sidebar ul li:last-child{
    margin-bottom: 0;
}
.icon-with-text-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27px;
    margin-bottom: 25px;
}
.icon-with-text-block .icon-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #DADADA;
}
.icon-with-text-block .icon-box .icon{
    width: 25.5%;
    background: #F7C083;
    padding: 14px;
    text-align: center;
    border-radius: 20px 0 0 20px;
}
.icon-with-text-block .icon-box .icon-text{
    width: 74.5%;
    padding-left: 16px;

}
.icon-with-text-block .icon-box .icon-text p{
    max-width: 329px;
}
.progress-start-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27px;
}
.progress-start-block .course-progress .course-title{
    text-align: center;
    padding: 24px 10px;
    background: #F4D3DD;
    border-radius: 20px 20px 0px 0px;
}
.course-grid{
    background: #F9E9E6;
    padding: 24px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.course-grid .white-box{
    background: #FDF8EC;
    border-radius: 16px 16px 0 0;
    padding: 17px;  
}
.course-grid .white-box .icon-text{
    display: inline-flex;
    align-items: center;
    border-radius: 44px;
    background: #F4D3DD;
    padding: 3px 15px;
    width: 117px;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 26px;
}
.course-grid .white-box .icon-text span{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #01333E;
}
.course-grid .white-box .progress-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.course-grid .white-box.top-border {
    border-radius: 0 0 16px 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.progress-details .course-link{
    background: #FDF8EC;
    border-radius: 16px;
    margin-bottom: 16px;
}
.progress-details .course-link:last-child{
    margin-bottom: 0;
}
.progress-details .course-link .link-icon{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.progress-details .course-link .link-text{
    padding: 16px;
}
.progress-details .course-link .link-text .text-bg{
    border-radius: 44px;
    background: #F9E9E6;
}

.progress-details .course-link .link-text p{
    font-size: 14px;
    line-height: 120%;
}
.progress-details .course-link .link-icon p{
    margin: 0;
    font-size: 14px;
    line-height: 120%;
}
.course-progress .course-btn {
    background: #F9E9E6;
}
.course-btn{
    padding: 24px 40px;
    border-radius: 0 0 20px 20px;
}
.course-btn a{
    padding: 7px 8px 7px 15px;
    font-size: 14px;
}
.course-btn a svg{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 0;
}
.progress-start-block .family-block .family-title{
    text-align: center;
    padding: 24px 10px;
    background: #C9D9D3;
    border-radius: 20px 20px 0 0;
}
.progress-start-block .family-block .family-graph{
    text-align: center;
    padding: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    background: #DFE8E5;
}
.progress-start-block .family-block .course-btn{
    background: #DFE8E5;
    padding: 24px 40px;
    border-radius: 0 0 20px 20px;
}
.progress-start-block .family-block .course-btn a{
    padding: 7px 8px 7px 15px;
    font-size: 14px;
}
.progress-start-block .family-block .course-btn a svg{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 0;
}
.family-graph-block .family-block .course-btn{
    padding: 24px;
}

/* dashboard family star */

.dashboard_family{
    background: #E9F0ED;
}
.left_sidebar.tab-transparent ul{
    background: #FDF8EC;
}
.family-graph-block{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}
.family-graph-block .family-block{
    border-radius: 20px;
    border: 1px solid #DADADA;
    background: #FDF8EC;
    width: 23%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.family-graph-block .family-block .family-title h5{
    padding: 24px;
    background: #C9D9D3;
    border-radius: 20px 20px 0px 0px;
}
.family-graph-block .family-block .family-title p{
    padding: 24px 36px 24px 24px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}
.family-graph-block .family-block .family-title .click-info{
    margin: 0px 36px 24px 24px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #DAD7D7;
}
.family-graph-block .family-block .family-title .click-info p{
    padding: 0; 
    font-size: 9px;

}
.family-graph-block .graph-block{
    width: 74%;
    border-radius: 20px;
    border: 1px solid #DADADA;
    background: #FDF8EC;
}
.family-graph-block .graph-block .graph--img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #EBE7DC;
    height: 484px;
    object-fit: cover;
    object-position: top;
}
.family-graph-block .graph-block .graph--img{
    display: flex;
}
.family-graph-block .graph-block .family-key{
    background: #F3F4EC;
    padding: 24px 24px 24px 48px;
    border-radius: 0 0 20px 20px;
}
.family-graph-block .graph-block .family-key h6{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.family-graph-block .graph-block .family-key .key-point p{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}
.family-graph-block .graph-block .family-key .key-point p span{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #01333E;
}

/* parenting_style */

.parenting_style{
    background: #FFF0C9;

    
}
.parenting_style .family-graph-block .family-block .family-title h5{
    background: #FFD978;
}
.parenting_style .family-graph-block .graph-block .graph--img img{
    border-radius: 20px;
    border-bottom: 0;
    height: auto;
}
.family-graph-block .family-block .family-title .click-info svg{
    width: 20px;
}
.family-graph-block .family-block .family-title .click-info p{
    width: 100%;
}
.parenting_style .family-graph-block .graph-block{
    padding: 52px 20px;
}
.parenting_style .family-graph-block .graph-block .graph--tab{
    max-width: 460px;
    margin: 0 auto;
}
.parenting_style .family-graph-block .graph-block .graph--tab ul{
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 0 24px;
}
.parenting_style .family-graph-block .graph-block .graph--tab ul li{
    list-style: none;
}
.parenting_style .family-graph-block .graph-block .graph--tab ul li a{
    text-decoration: none;
    padding: 5px 9px;
    display: inline-block;
    border-radius: 25px;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #01333E;
}
.parenting_style .family-graph-block .graph-block .graph--tab ul li a.active{
    border: 1px solid #01333E;
}
.parenting_style .family-graph-block .graph-block .click-info{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #DAD7D7;
    max-width: 460px;
    margin: 16px auto 0;
}
.parenting_style .family-graph-block .graph-block .click-info svg{
    width: 20px;
}
.parenting_style .family-graph-block .graph-block .click-info p{
    width: 100%;
    font-size: 12.574px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.126px;
}
.parenting_style .family-graph-block .graph-block .graph--tab .tab-content img{
    width: 100%;
}

@media only screen and (max-width : 1299px){
    .left_sidebar {
        width: 20%;
    }
    .icon-with-text-block .icon-box .icon{
        width: 20%;
    }
    .icon-with-text-block .icon-box .icon-text{
        width: 80%;
    }
    .progress-start-block{
        grid-template-columns: 1fr;
    }
    .family-graph-block .family-block{
        width: 100%;
    }
    .family-graph-block .graph-block{
        width: 100%;
    }
    .family-graph-block .family-block .family-title .click-info{
        display: inline-flex;
        align-items: center;
        margin: 0 36px 0px 24px;
    }
}
@media only screen and (max-width : 991px){
    .left_sidebar ul{
        padding: 32px 10px;
    }
    .left_sidebar {
        width: 26%;
    }
    .icon-with-text-block{
        grid-template-columns: 1fr ;
    }
    .course-grid{
        grid-template-columns: 1fr ;
    }
}

@media only screen and (max-width : 750px){
    .left_sidebar ul{
        display: flex;
        overflow: auto;
        white-space: nowrap;
        gap: 10px;
        padding: 16px 10px;
        border-radius: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .left_sidebar ul::-webkit-scrollbar {
        display: none;
    }
    .left_sidebar ul li{ 
        margin-bottom: 0;
    }
    .tab_back_img{
        top: 0;
    }
    .tab_back_img svg{
        width: 30px;
    }
    .tab_dash{
        flex-wrap: wrap;
    }
    .left_sidebar {
        width: 100%;
    }
    .dashbord_box {
        width: 100%;
    }
    .course-grid{
        padding: 24px;
    }
    .course-progress .course-btn{
        padding: 24px;
    }
}

