.ddp-list-block .ddp-tag-block p{
    font-size: 14px;
    margin-bottom: 12px;
}
.ddp-list-block .ddp-tag-block .tag-link{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 63px;
}
.ddp-list-block .ddp-tag-block .tag-link a.active{
    border-radius: 40px;
    border: 1px solid #01333E;
    padding: 8px 23px;
    
}
.ddp-list-block .ddp-tag-block .tag-link a{
    text-decoration: none;
    color: #01333E;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
}
.ddp-post-list .ddp-box{
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 48px;

}
.ddp-post-list .ddp-box .ddp-post-details .ddp_label{
    padding: 4px 9px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.14px;
    border-radius: 25px;
    border: 1px solid #01333E;
    display: inline-block;
    margin-bottom: 12px;
}
.ddp-post-list .ddp-box .ddp-post-details{
    max-width: 550px;
}
.ddp-post-list .ddp-box .ddp-post-details h3{
    margin-bottom: 12px;
}
.ddp-post-list .ddp-box .ddp-post-details p{
    margin-bottom: 48px;
}
.ddp-post-list .ddp-box .ddp-post-details a.button{
    font-size: 14px;
    padding: 7px 8px 7px 15px;
}
.ddp-post-list .ddp-box .ddp-post-details a.button svg{
    width: 24px;
    height: 24px;
    margin-right: 0;
    margin-left: 12px;
}
.ddp-post-list{
    margin-bottom: 96px;
}
.ddp-post-list .ddp-box .ddp-post-img img{
    width: 100%;
    height: auto;
    border-radius: 30.75px;
    object-fit: cover;
}
.blog-filter p{
    margin-bottom: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.blog-filter .filter-link ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
}
.blog-filter .filter-link ul li a{
    text-decoration: none;
    color: #01333E;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 40px;
    padding: 7px 0px;
    display: inline-block;
}
.blog-filter .filter-link ul li a.active{
    padding: 7px 22px;
    border: 1px solid #01333E;
}
.blog-filter{
    margin-bottom: 63px;;
}
@media only screen and (max-width:1199px) {
    .ddp-banner .ddp-inner-content .ddp-right-img img{
        width: 100%;
    }
    .ddp-banner h2{
        font-size: 42px;
    }
    .ddp-banner .ddp-bottom-image img{
        height: 95px;
    }
    .ddp-post-list .ddp-box{
        grid-template-columns: 1fr 1fr;
    }
    .ddp-post-list .ddp-box .ddp-post-img {
        width: 100%;
    }
    .ddp-post-list .ddp-box .ddp-post-img img{
        width: 100%;
        height: auto;
    }
    .ddp-list-block .ddp-tag-block .tag-link{
        margin-bottom: 30px;
    }
    .ddp-post-list .ddp-box .ddp-post-details {
        max-width: unset;
    }
    .ddp-post-list .ddp-box .ddp-post-details p {
        margin-bottom: 25px;
    }
    .ddp-banner{
        padding: 180px 0 105px;
    }
    .ddp-post-list .ddp-box .ddp-post-details h3{
        font-size: 25px;
    }
}
@media only screen and (max-width:750px) {
   
    .ddp-banner .ddp-inner-content .ddp-left-text{
        width: 100%;
        margin-bottom: 25px;
    }
    .ddp-banner .ddp-inner-content .ddp-right-img {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: -130px;
        left: -10px;
    }
    .ddp-banner .ddp-inner-content .ddp-right-img img {
        width: 300px;
    }
    .ddp-banner .ddp-bottom-image img {
        height: 65px;
    }
    .ddp-list-block{
        margin-top: 20px;
    }
    .blog-filter {
        margin-bottom: 28px;
    } 
    .blog-filter .filter-link ul li a.active{
        padding: 3px 8px
    }
    .blog-filter .filter-link ul li a {
        padding: 3px 0px;
        font-size: 12px;
    }
    .blog-filter .filter-link ul{
        gap: 18px;
    }
    .ddp-banner p {
        margin: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .ddp-banner {
        padding: 70px 0 104px;
        margin-bottom: 160px;
    }
    .ddp-post-list .ddp-box{
        gap: 15px;
        grid-template-columns: 1fr;
    }
    .ddp-post-list .ddp-box .ddp-post-details .ddp_label{
        font-size: 12px;
    }
    .ddp-post-list .ddp-box .ddp-post-details h3{
        font-size: 16.667px;
    }
    .ddp-post-list .ddp-box .ddp-post-details p {
        margin-bottom: 16px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}