.faq-banner{
  position: relative;
  margin-bottom: 63px;
      margin-top: -82px;
}
.faq-banner .faq-banner-text{
  top: 260px;
    position: absolute;
}
.faq-banner .faq-banner-text h2{
  font-size: 68px;
  
}



