.jump-details {
  background: #c9d9d3;
  padding: 64px;
  border-radius: 40px;
      margin-bottom: 32px;
}
.jump-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.jump-title {
  width: 39%;
}
.jump-text {
  width: 58%;
}
.jump-text h4 {
  letter-spacing: 0.28px;
  margin-bottom: 32px;
}
.jump-text p {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2px;
  margin: 32px 0 0
}
.jump-title h2 {
  font-size: 54px;
  max-width: 400px;
}
.down-arrow a svg {
  width: 24px;
  margin-left: 12px;
  height: 24px;
  margin-right: 0;
  transform: rotate(90deg);
}
.down-arrow a {
  font-size: 14px;
  padding: 8px 8px 8px 16px;
}
.jump-click-btn p {
  text-align: center;
  margin-bottom: 12px;
  font-size: 14px;
}
.jump-btn-block a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid #01333e;
  display: inline-block;
  font-size: 14px;

  margin-bottom: 8px;
      color: #01333E;
  letter-spacing: 0.14px;
    line-height: 120%;
}
.jump-btn-block {
  text-align: center;
  display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.jump-block {
  margin-top: 40px;
}

.jump-click-btn {
  margin-bottom: 54px;
}
.inner-first-count {
  max-width: 1000px;
  margin-left: auto;
  margin-top: 48px;
  position: relative;
  margin-bottom: 48px;
}
.inner-first-count .count-text {
  position: absolute;
  top: 30px;
  left: 53px;
}
.inner-first-count .count-text h2 {
  font-size: 54px;
  margin-bottom: 12px;
}

.inner-first-count .count-text p {
  font-size: 21.866px;
  line-height: 120%;
  letter-spacing: 0.219px;
  max-width: 495px;font-weight: 500;
}
.inner-second-count {
  max-width: 750px;
  margin-left: auto;
  position: relative;
}
.inner-second-count .count-text {
  position: absolute;
  top: 27px;
  left: 22px;
}
.inner-second-count .count-text h2 {
  font-size: 54px;
  margin-bottom: 12px;
}
.inner-second-count .count-text p {
  font-size: 21.866px;
  line-height: 120%;
  letter-spacing: 0.219px;
  max-width: 646px;
  font-weight: 500;
}
.inner-second-count {
  margin-bottom: 80px;
}
.inner-grid-block .grid-box {
  display: flex;
  justify-content: space-between;
  gap: 157px;
}
.inner-grid-block .grid-box .inner-title {
/*   position: relative; */
/*   width: 30%; */
  position: sticky;
  /* top: 70px; */
  top: 40%;
  height: 100%;
}
.inner-grid-block .grid-box .inner-title .grid-title {
  position: absolute;
  top: 63px;
  left: 25px;
}
.inner-grid-block .grid-box .inner-title .grid-title svg {
  position: absolute;
  right: 90px;
  bottom: -150px;
}
.inner-card {
  border-radius: 40px;
  background: #e9f0ed;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.inner-icon {
  width: 17%;
}
.card-text {
  width: 83%;
}
.card-text a{
      display: flex;
    align-items: center;
    text-decoration: none;
    color: #01333E;
  font-size: 14px;
}
.card-text a svg{
  margin-left: 12px;
}
.card-text h5 {
  margin: 16px 0 6px;
}

.inner-grid-block .grid-box .inner-boxes {
/*   width: 53%; */
  margin-top: 63px;
  position: relative;
}
.inner-grid-block .grid-box .inner-boxes .right-svg{
      position: absolute;
    top: 37%;
    left: -150px;
    z-index: -1;
}
.round-text-block{
      max-width: 1160px;
    margin: 0 auto;
}

.round-text-block .button_space {
/*   text-align: center; */
  margin-top: 60px;
}
.jump-open-block{
  margin-bottom: 160px;
}
.jump-redirect-block.cream-bg .jump-details{
  background: #F7C083;
}
.jump-redirect-block.cream-bg .inner-card{
  background: #FCEAD6;
}


.jump-redirect-block.yellow-bg .jump-details{
  background: #FFD978;
}
.jump-redirect-block.yellow-bg .inner-card{
  background: #FFE8AE;
}

.jump-redirect-block.pink-bg .jump-details{
  background: #F4D3DD;
}
.jump-redirect-block.pink-bg .inner-card{
  background: #F4D3DD;
}

.jump-redirect-block:last-child .jump-open-block{
  margin-bottom: 100px;
}


@media screen and (max-width: 1299px) {
  .inner-grid-block .grid-box .inner-boxes {
    width: 56%;
  }
}
@media screen and (max-width: 1099px) {
  .inner-grid-block .grid-box {
    flex-wrap: wrap;
  }
  .inner-grid-block .grid-box .inner-title {
    width: 100%;
    position: relative;
    top: unset;
  }
  .inner-grid-block .grid-box .inner-boxes {
    width: 100%;
    margin-top: 30px;
    margin-top: -30px;
  }
  .inner-grid-block .grid-box .inner-title .grid-title h2{
    max-width: 400px;
  }
  .inner-icon {
    width: 12%;
  }
  .card-text {
    width: 88%;
  }
  .jump-title h2 {
    font-size: 40px;
  }
  .jump-text h4 {
    font-size: 23px;
    margin-bottom: 22px;
  }
  .jump-text p {
    font-size: 18px;
  }
  .jump-grid {
    margin-bottom: 38px;
  }
  .inner-first-count .count-text h2 {
    font-size: 42px;
  }
  .inner-first-count .count-text p {
        max-width: 328px;
    font-size: 19px;
  }
  .inner-second-count .count-text h2 {
    font-size: 42px;
  }
  .inner-second-count .count-text p {
    max-width: 338px;
    font-size: 19px;
  }
  .inner-grid-block .grid-box .inner-boxes .right-svg{
        right: -30px;left: unset;
  }
  .jump-btn-block{
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
        justify-content: start;
  }
  .jump-click-btn p{
        text-align: left;
  }
  .inner-first-count svg{
        margin-left: -90px;
  }
  .inner-first-count .count-text{
    left: 0;
  }
   .inner-grid-block .grid-box{
         gap: unset;
  }
  .inner-grid-block .grid-box .inner-title .grid-title svg {
    display: none;
  }
  .jump-title {
    width: 100%;
    margin-bottom: 48px;
  }
   .jump-text {
    width: 100%;
  }
  .inner-card{
    padding: 20px;
  }
  .jump-details {
    padding: 54px;
        margin-bottom: 22px;            
  }
  .inner-grid-block .grid-box .inner-title svg{
        position: relative;
    left: 7px;
  }
}
@media screen and (max-width: 991px) {
  
  
 
 
 
 
  .jump-grid {
    margin-bottom: 48px;
  }
  .inner-first-count {
    margin-top: 22px;
    margin-bottom: 28px;
  }
  .inner-first-count .count-text {
    left: 0;
  }
  .inner-first-count svg {
    position: relative;
    left: -50px;height: 163px;
    width: 175px;margin-left: -20px;
  }
  .inner-first-count .count-text h2 {
    font-size: 42px;
  }
  .inner-first-count .count-text p {
    font-size: 16px;
  }
  .inner-second-count .count-text h2 {
    font-size: 42px;
  }
  .inner-second-count .count-text p {
    font-size: 16px;
  }
  .inner-second-count svg {
    position: relative;
    left: 40px;
    width: 100px;
    height: 93.143px;
  }
  .inner-second-count .count-text {
    left: 62px;
        top: 13px;
  }
  .inner-grid-block .grid-box .inner-title svg {
    width: 188px;
    height: 188px;
  }
  
  .inner-second-count {
    margin-bottom: 80px;
  }
  .inner-grid-block .grid-box .inner-title .grid-title {
    top: 32px;
    left: 0;
  }
  .inner-grid-block .grid-box .inner-title .grid-title h2 {
    max-width: 290px;
    font-size: 30px;
  }
  .inner-icon {
    width: 16%;
  }
  .card-text {
    width: 84%;
  }
 
}

@media screen and (max-width: 641px) {
  .inner-card {
    flex-wrap: nowrap;
    padding: 16px;
  }
  .inner-icon {
    width: 52px;
  }
  .card-text {
    width: 90%;
  }
  .inner-card {
    margin-bottom: 16px;
    border-radius: 21.824px;
  }
  .inner-icon svg {
    width: 40px;
    height:auto;
  }
  .card-text p{
    font-size: 14px;
    letter-spacing: 0.14px;
  }
  .round-text-block .button_space {
    margin-top: 32px;
}
  .inner-grid-block .grid-box .inner-title .grid-title h2 {
    max-width: 219px;
  }
  .inner-grid-block .grid-box .inner-boxes{
        margin-top: -40px;
  }
  .jump-text p{
    margin-top:12px;
  }
  .card-text h5{
        margin: 8px 0 6px;
  }
  .jump-details {
    padding: 32px 24px;
        margin-bottom: 22px;            
  }
  
  .inner-first-count .count-text p{
    max-width: 278px;
  }
  .inner-second-count .count-text p{
        max-width: 284px;
  }
  .inner-second-count .count-text{
    left: 56px;
  }.inner-second-count .count-text h2{
    margin-bottom: 10px;
  }
  .inner-grid-block .grid-box .inner-boxes .right-svg{
        top: 20%;
        right: -38px;
  }
  .inner-grid-block .grid-box .inner-boxes .right-svg svg{
    width: 218.747px;
      height: 209.58px;
  }
  .inner-first-count svg{
    margin-left: 0px;
  }
   .jump-title h2 {
    font-size: 30px;
  }
   .jump-text h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
   .jump-text p {
    font-size: 14px;
  }
}
